#box #head{
    margin: 20px auto;
    width: 900px;
    overflow: hidden;
    background: #448cc7;
    padding:10px 0;
}
#box #head span{
    display: inline-block;
    width:200px;
    text-align: center;
    font-size: 18px;
}
#box #head #show{
    width:80px;
}
#box #head .int{
    width:200px;
    height:30px;
    border-radius: 8px;
    margin-left: 200px;
}
#box #head .search{
    width:55px;
    height:30px;
    border-radius: 8px;
}




#box #userlist {
    margin: 20px auto;
    width: 900px;
    overflow: hidden;
    
  }
  #box #userlist ul li {
    float: left;
    width: 215px;
    height: 25px;
    line-height: 30px;
    border: #D5D5D3 1px solid;
    border-left: none;
    text-align: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
      overflow: hidden;
  }
  #box #userlist ul:first-child li {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  
  #box #userlist ul li:nth-child(1) {
    border-left: #D5D5D3 1px solid;
  }




  #box #pagejump {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
  }
  
  #box #pagejump button {
    padding: 5px;
    border-radius: 3px;
  }




  #box #shoppingcartlist {
    margin: 20px auto;
    width: 900px;
    overflow: hidden;
    
  }
  #box #shoppingcartlist ul li {
    float: left;
    width: 148px;
    height: 25px;
    line-height: 30px;
    border: #D5D5D3 1px solid;
    border-left: none;
    text-align: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
      overflow: hidden;
  }
  #box #shoppingcartlist ul:first-child li {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  
  #box #shoppingcartlist ul li:nth-child(1) {
    border-left: #D5D5D3 1px solid;
  }
  #box #tongji{
    width:900px;
    margin:0 auto;
  }




  #box #shophead{
    margin: 20px auto;
    width: 1130px;
    overflow: hidden;
    background: #448cc7;
    padding:10px 0;
}
#box #shophead span{
    display: inline-block;
    width:200px;
    text-align: center;
    font-size: 18px;
}
#box #shophead #show{
    width:80px;
}
#box #shophead .int{
    width:200px;
    height:30px;
    border-radius: 8px;
    margin-left: 200px;
}
#box #shophead .search{
    width:55px;
    height:30px;
    border-radius: 8px;
}
  #box #shoppinglist {
    margin: 20px auto;
    width: 1130px;
    overflow: hidden;
    
  }
  #box #shoppinglist ul li {
    float: left;
    width: 148px;
    height: 25px;
    line-height: 30px;
    border: #D5D5D3 1px solid;
    border-left: none;
    text-align: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    overflow: hidden;
  }
  #box #shoppinglist ul:first-child li {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  } 
  #box #shoppinglist ul li:nth-child(1) {
    border-left: #D5D5D3 1px solid;
  }
  #box #shoppinglist ul li:last-child {
    width:80px;
  }
  #box #shoppinglist ul li:last-child input{
    border:none;
    cursor: pointer;
  }